@font-face {
    font-family: 'MyFont';
    src: url('./fonts/Mukta.ttf');
}

:root {
    --header-height: 70px;
}


body {
    margin: 0;
    padding: 0;
}

/* Header content */
#header {
    width: 100vw;
    height: var(--header-height);
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    font-family: MyFont;
}

#header img {
    float: left;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* Content container */
.content-container {
    display: flex;
    height: calc(100vh - var(--header-height));
    width: 100vw;
}

/* Sidebar content */
.content-container #sidebar {
    float: left;
    width: 25%;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-between; */
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    font-family: MyFont;
}

.content-container #sidebar .task-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content-container #sidebar img,
.content-container #sidebar p {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.content-container #sidebar img {
    width: 20px;
    height: 20px;
}

#sidebar #createProjectButton {
    margin-bottom: 10px;
    padding: 5px 10px;
}

#sidebar #projectSelect {
    width: 100%;
    padding: 5px;
}

/* Task container content */
.content-container #task-container {
    float: right;
    width: 75%;
    background-color: #d0d0d0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container #task-container #add-task {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}

/* Modal window */
#todo-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.modal-close {
    color: #aaa;
    float: right;
    /* font-size: 28px; */
    font-weight: bold;
}

.modal-form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal-form-container label {
    margin-bottom: 5px;
}

.modal-form-container input,
.modal-form-container textarea,
.modal-form-container select {
    width: 100%;
}

.modal-form-container textarea {
    resize: vertical;
    height: 6em;
}

/* .modal-checklist-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal-checklist-container label {
    margin-bottom: 5px;
}

.modal-checklist-container input {
    width: 100%;
}

.modal-checklist-container button {
    margin-top: 5px;
} */

.tasks-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
}

.todo-card {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-bottom: 20px;
    border: 1px solid red;
     /* border-left: 10px solid #503c83; */
    border-radius: 15px;
    font-family: MyFont;
    min-height: 200px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: #f0f0f0;
    margin: 10px 0;
    overflow: hidden;
    margin-left: 20px;
}

.todo-card:hover {
    transform: scale(1.02);
    background-color: #e0e0e0; 
}

.priority-line {
    width: 10px;
    height: 100%;
    margin-right: auto;
    border-radius: 15px;
}

.title-description-container {
    flex-grow: 1;
    margin-right: 20px;
    width: 200px;
    margin-left: 10px;
}

.title-description-container p {
    
    /* Set a fixed height
    height: 3em;
    /* Hide overflow text */
    /* overflow: hidden; */
    /* Add ellipsis to indicate more text */
    /* text-overflow: ellipsis; */
    /* Prevent text from wrapping to the next line */
    /* white-space: nowrap; */

    /* Set a fixed height */
    height: 8em; /* Adjust based on the desired number of lines */
    /* Make the content scrollable */
    overflow-y: auto;
    /* Ensure the text wraps within the container */
    white-space: normal;
    font-size: small;
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent;
}

.date-container {
    flex-grow: 1;
    margin-right: 20px;
    font-size: small;
}

.buttons-container {
    display: flex;
    flex-direction: column;
}

.title-description-container p::-webkit-scrollbar {
    width: 8px;
}

.title-description-container p::-webkit-scrollbar-track {
    background: transparent;
}

.title-description-container p::-webkit-scrollbar-thumb {
    background: transparent;
}

.title-description-container p:hover {
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* For Firefox */
}

.title-description-container p:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); /* For Chrome, Safari, and Opera */
}

